/DivisionLogicaBasePractico/build/
/DivisionLogicaBasePractico/nbproject/private/
/DivisionLogicaContador/build/
/InterfazGraficaEscritorio/nbproject/private/
/InterfazGraficaEscritorio/build/
/InterfazGraficaEscritorioCombo/nbproject/private/
/InterfazGraficaEscritorioCombo/build/
/Agenda/nbproject/private/
/Agenda/build/
/DivisionLogicaBasePractico/dist/
/Figuras/build/
/EjercicioBarrera/nbproject/private/
/EjercicioBarrera/build/
